body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading {
  letter-spacing: 9px;
  font-size: 23px;
  border-radius: 3px;
}

label {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 2px;
  border-width: 2px;
  border-color: white;
  border-style: dotted;
}